html,
body {
    height: 100%;
}

.container {
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.gridItem {
    background-color: white;
    height: 10px;
}